.captain-hold-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  height: 100%;
}

.captaine-hold-table-body {
  width: 100%;
  display: flex;
  gap: 06rem;
  align-items: center;
  /* padding: 10px 0px; */
  /* background-color: red; */
  height: 90%;
  overflow-y: scroll;
  flex-direction: column;
  gap: 0.5rem;
}
