* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px;
}
/* The part of the scrollbar you can drag */
::-webkit-scrollbar-thumb {
  background-color: #ffb07c; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
}

/* The track of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Roundness of the track */
}
